<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Userregistservlet</display-name>
    <servlet-name>Userregistservlet</servlet-name>
    <servlet-class>com.bookstore.user.user.web.servlet.Userregistservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userregistservlet</servlet-name>
    <url-pattern>/Userregistservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categoryservlet</display-name>
    <servlet-name>Categoryservlet</servlet-name>
    <servlet-class>com.bookstore.category.web.servlet.Categoryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categoryservlet</servlet-name>
    <url-pattern>/Categoryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookservlet</display-name>
    <servlet-name>Bookservlet</servlet-name>
    <servlet-class>com.bookstore.book.web.servlet.Bookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookservlet</servlet-name>
    <url-pattern>/Bookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cartservlet</display-name>
    <servlet-name>Cartservlet</servlet-name>
    <servlet-class>com.bookstore.cart.web.servlet.Cartservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cartservlet</servlet-name>
    <url-pattern>/Cartservlet</url-pattern>
  </servlet-mapping>
</web-app>